<div class="image_background">
  <div class="signin_container">
    <h2 class="title">新規等録</h2>
    <div class="form_container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if devise_error_messages!.present? %>
  <div class="error_explanation">
    <%= devise_error_messages! %>
  </div>
  <% end %>

        <div class="field">
          <%= f.text_field :name, class: 'form_textfield', autofocus: true, placeholder: 'ユーザー名', presence: true %>
        </div>

        <div class="field">
          <%= f.password_field :password,  class: 'form_textfield', autocomplete: "off", placeholder: 'パスワード', presence: true %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation,  class: 'form_textfield', autocomplete: "off", placeholder: 'パスワード確認', presence: true %>
        </div>

        <div class="field">
          <%= f.text_field :faculty_id,  class: 'form_textfield', autocomplete: "off", placeholder: '学部', presence: true %>
        </div>

        <div class="field">
          <%= f.text_field :department_id,  class: 'form_textfield', autocomplete: "off", placeholder: '学科', presence: true %>
        </div>

          <div class="form_btn_wrapper">
            <%= f.submit '新規等録', class: 'button form_btn_submit' %>
          </div>

        <%= render "devise/shared/links" %>

      <% end %>

    </div>
  </div>
</div>
