<div class="image_background">
  <div class="signin_container">
    <h2 class="title">新規等録</h2>
    <div class="form_container">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <ol>
          <li><%= f.text_field :name, class: 'form_textfield', placeholder: 'ユーザー名' %></li>
          <li><%= f.text_field :password, class: 'form_textfield', placeholder: 'パスワード' %></li>
          <li><%= f.text_field :faculty_id, class: 'form_textfield', placeholder: '学部' %></li>
          <li><%= f.text_field :department_id, class: 'form_textfield', placeholder: '学科' %></li>
          <div class="form_btn_wrapper">
            <%= f.submit '新規等録', class: 'button form_btn_submit' %>
          </div>
        </ol>

      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
