<div class="db_container">
  <div class="db_half">
    <div class="db_seminar">
      <div class="db_seminar_board db_board">
        <h2 class="db_board_title">〇〇ゼミ用マイページ</h2>
        <p class="db_board_explain">
          〇〇学部〇〇学科 / 〇〇教授 / ゼミ生：〇人
        </p>
      </div>
    </div>
    <div class="db_menu">
      <div class="db_menu_board db_board">
        <ul>
          <li class="db_menu_list">
            <%= link_to '卒論を投稿する', upload_path %>
          </li>
          <% 5.times do %>
            <li class="db_menu_list">
              <%= link_to 'メニュー', '#' %>
            </li>
            <% end %>
        </ul>
      </div>
    </div>
    <div class="db_menu">
      <div class="db_menu_board db_board">
        <%= form_for @post, :url => {:action => 'add', :controller => 'posts'} do |f| %>
          <%= f.text_field :title, class: 'form_textfield', placeholder: 'タイトルを記入してください。', required: 'required' %>
          <%= f.text_area :content, class: 'form_textarea', placeholder: '投稿内容を記入してください。', required: 'required' %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :seminar_id, value: current_user.seminar_id %>
          <%= f.submit '投稿する', class: 'form_btn form_btn_submit button' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="db_half">
    <div class="db_bulletinboard db_board">
      <ul>
        <% if @posts.count > 0 %>
          <% @posts.each do |post| %>
            <li class="db_bulletinboard_post">
              <%= link_to '#' do %>
                <h3 class="db_board_title">【<%= post.title %>】</h3>
                <p>
                  <%= time_ago_in_words(post.created_at) %>前
                  <%= '投稿者: '+post.user.name %>
                </p>
                <p>
                  <%= simple_format(h(post.content)) %>
                </p>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <li>現在投稿はありません。</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="thesis_function">
  <div class="thesis_container">
    <% 8.times do %>
      <div class="thesis_box">
        <%= link_to '#' do %>
        <div class="thesis_box_upper">
          <%= image_tag("thesis_icon_blue.png", :class => "thesis_icon ") %>
        </div>
        <div class="thesis_box_lower">
          titleが入る(((༼•̫͡•༽)))
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
