<div class="header">
  <div class="header_icon">
    <p class="header_icon_title">
      <%= link_to 'Semii', root_path %>
    </p>
  </div>
  <div class="header_menu">
    <ul>

      <% if user_signed_in? %>
        <li class="header_menu_elements">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
        <li class="header_menu_elements">
          <%= link_to '◯ ◯ ゼミ', '#' %>
        </li>
      <% else %>
        <li class="header_menu_elements">
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
        <li class="header_menu_elements">
          <%= link_to '新規登録', new_user_registration_path %>
        </li>
      <% end %>

    </ul>
  </div>
</div>
